<%
var publishTimestamp = page.date.valueOf();
var article_edit = config.article_edit || {};
%>
<div class="post-container container">
  <h3>
    <i class="fa fa-user-o"></i>
    <%= config.author || '' %>

    <span class="post-date float-right" title="<%= formatDateTime(publishTimestamp) %>">
      <%= formatDate(publishTimestamp) %>
    </span>
  </h3>

  <article class="post-content">
    <h1><%= page.title || 'Untitle' %></h1>
    <%- page.content %>
  </article>
</div>

<% if (config.enabledScripts) { %>
  <%- partial('_widget/disqus') %>
<% } %>